<!--<div [ngClass]="{fot:true}">-->
<div class="fot">
    <div [ngClass]="{inner:true}">
        <h1>Change Profile</h1>
    </div>
    <br>
    <form 
      class="form-horizontal"  
      #signupForm = "ngForm"> 
        <div class="form-group">
            <input class="form-control" type="text" name="firstname" [(ngModel)]="user.firstname" #firstname="ngModel"
                placeholder="Firstname" required />
            <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
                no data entered
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel"
                placeholder="Lastname" required />
            <div [hidden]="lastname.valid || lastname.untouched" class="alert alert-danger">no data entered</div>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="password" [(ngModel)]="user.password" #password="ngModel"
            placeholder="Password" required />
            <div [hidden]="password.valid || password.untouched" class="alert alert-danger">no data entered</div>
        </div>
        <div class="form-group">
            <button class="btn bth-lg btn-success btn-block" (click)="submit(user)" [disabled]="!signupForm.form.valid">
                Submit
            </button>
        </div>
    </form>
</div>