<div [ngClass]="{fot:true}">
<div [ngClass]="{inner:true}"><h1>Login</h1></div>
<form class="form-horizontal" #signupForm="ngForm"> 
    <div *ngIf="invalidLogin" class="alert alert-danger"> Invalid email or password</div>
    <br>
    <div class="form-group">
        <input class="form-control" type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required
            placeholder="Email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" />
        <div [hidden]="email.valid || email.untouched" class="alert alert-danger"> wrong email
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="password" [(ngModel)]="user.password" #password="ngModel"
            placeholder="Password" required />
        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">no data entered</div>
    </div>
    <button class="btn bth-lg btn-success btn-block" (click)="login(user)"
        [disabled]="!signupForm.form.valid">Submit</button>

    
</form>
</div>