<div class="container mt-10">
    <div class="row row-cols-1">
        <div class="   col  bg-dark text-white rounded ">
                <h4  class="text-justify">{{topicWithDetails.user}}</h4> 
        </div>
        <div class="col border rounded ">
            <p>{{topicWithDetails.open | date:'medium' }}</p>
            <p>{{topicWithDetails.description}}</p>
        </div>
    </div>
    <div class="row row-cols-1 mt-2"  >
        <div>
        <p>Amount of massage:{{amount}}</p>
    </div>
    <div>
    <form #addform="ngForm"  *ngIf = 'IsAdminIn || isLoggedIn'  >
        <textarea class="form-control" name="text"  [(ngModel)]="text" #currenttext="ngModel" required></textarea>
        <div [hidden]="currenttext.valid || currenttext.untouched" class="alert alert-danger">no data entered</div>
        <button  type="reset" class="btn bth-lg btn-success btn-block" (click)="addMessage(text)" [disabled]="!addform.form.valid">Add</button>
       
    </form>
    </div>
</div> 
</div> 
      <div class="container" *ngFor="let  massage of  massage"> 
        <div class="row row-cols-1 mt-3" >
            <div class="    bg-light rounded ">
                <div class="container">
                <div class="row">
                    <div class="col">
                <small class="text-justify">{{massage.user}}</small> 
            </div>
            <div class="col-2 align-end pr-0">
                    <button  *ngIf = 'IsAdminIn' class="btn btn-block btn-danger " (click)="deleteMassage(massage.id)" >Delete</button>
                </div>
                </div>
            </div>
        </div>
          <div class="col border rounded">
            <small>{{ massage.open | date:'medium' }}</small>
            <br>
            <small>{{ massage.text }}</small>
    </div>
    </div>
</div>