<table *ngIf = '!isDetail' class='table table-striped table-bordered' aria-labelledby="tableLabel" >
    <thead>
      <tr>
        <th ><h5 class="text-center">User</h5></th>
        <th><h5 class="text-center">Amount of messages</h5></th>
        <th ><h5 class="text-center">Action</h5></th>
 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users  of users">
        <td ><p class="text-center">{{ users.name }}</p></td>
        <td><p class="text-center">{{ users.amount }}</p></td>
        <td>
          <div class="row">
          <div  class="col-xl" ><button class="btn bth-lg btn-secondary btn-block" (click)="Detail( users.id)">Detail</button>
          </div>
          <div  class="col-xl"> <button class="btn bth-lg btn-danger btn-block" (click)="Delete( users.id)">Delete</button>
        </div>
      </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf = 'isDetail' class='table table-striped table-bordered' aria-labelledby="tableLabel" >
    <thead>
      <tr>
        <th  ><h5 class="text-center">FirstName</h5></th>
        <th ><h5 class="text-center">LastName</h5></th>
        <th  ><h5 class="text-center">Email</h5></th>
        <th  ><h5 class="text-center">Age</h5></th>
        <th><h5 class="text-center">Action</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p class="text-center"> {{ userdetail.firstName }}</p></td>
        <td><p class="text-center"> {{ userdetail.lastName }}</p></td>
        <td><p class="text-center"> {{ userdetail.email }}</p></td>
        <td><p class="text-center">{{ userdetail.age }}</p></td> 
        <td><button class="btn bth-lg btn-secondary btn-block" (click)="Return()">Return</button></td>
      </tr>
    </tbody>
  </table>

