
<div class=" col-2 ml-0 pl-0 pb-3 ">
<button type="button" class="btn bth-sm btn-primary btn-block" *ngIf='isLoggedIn' (click)='createTopic()' >Add</button>

</div>
   <form #addtopic="ngForm" *ngIf='isInputTopic' class="pb-3" >
<div class="form-group ">
      <input  class="form-control" placeholder="Name"  name="name" [(ngModel)]="newtopic.name" #name="ngModel"  required> 
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">no data entered</div>
    </div> 
    <div class="form-group ">
      <textarea class="form-control" name="description" placeholder="Description"  [(ngModel)]="newtopic.description" #description="ngModel"  required></textarea>
   <div [hidden]="description.valid || description.untouched" class="alert alert-danger">no data entered</div>
  </div>
       <div class="row" >
        <div class="col-xl">
      <button  type="reset" class="btn bth-sm btn-success btn-block" (click)="addTopic(newtopic)" [disabled]="!addtopic.form.valid">Submit</button>
    </div>
    <div class="col-xl" >
      <button class="btn bth-sm btn-danger btn-block" (click)="Cancel()">Cansel</button>
    </div>
    </div> 
  </form>
<table class='table table-striped table-bordered' aria-labelledby="tableLabel" >
  <thead>
    <tr>
      <th> <h5 class="text-center">Topic</h5></th>
      <th><h5 class="text-center">Date</h5></th>
      <th *ngIf = 'IsAdminIn' ><h5 class="text-center">Actions</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let topic of topic">
      <td> <a [routerLink]="['/topic', topic.id]" >{{ topic.name }}</a></td>
      <td> <p class="text-center">{{ topic.open | date:'medium'}}</p></td>
      <td *ngIf = 'IsAdminIn' ><button class="btn bth-lg btn-danger btn-block" (click)="DeleteTopic(topic.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
